<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div style="display: flex; justify-content: space-between">
            <a href="/" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none">
                <p th:text="#{header.service.name}" style="margin: 0; font-size: 24px; color: #ffc107"></p>
            </a>

            <div style="display: flex" class="text-end">
                <a href="/login" th:text="#{header.login.value}" class="btn btn-warning me-2">Login</a>
                <a href="/register" th:text="#{header.signUp.value}" class="btn btn-warning me-4">Sign-up</a>
                <form style="display: flex" method="get" action="/register" id="lang-switcher">
                    <button type="submit" class="btn btn-warning me-2" name="locale" value="ua">
                        UA
                    </button>
                    <button type="submit" class="btn btn-warning" name="locale" value="en">
                        ENG
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="content">
        <form action="" class="dataForm">
            <label th:text="#{name.prompt.value}" style="margin-top: 10%" for="name">Enter name</label>
            <input class="form-element" type="text" id="name">
            <label th:text="#{surname.prompt.value}" class="form-element" for="surname">Enter surname</label>
            <input class="form-element" type="text" id="surname">
            <label th:text="#{email.prompt.value}" class="form-element" for="email">Enter email</label>
            <input class="form-element" type="email" id="email">
            <label th:text="#{phone.prompt.value}" class="form-element" for="phone">Enter phone</label>
            <input class="form-element" type="text" id="phone">
            <label th:text="#{password.prompt.value}" class="form-element" for="password">Enter password</label>
            <input class="form-element" type="text" id="password">
            <button th:text="#{register.value}" style="margin-bottom: 10%" type="button" class="btn btn-success">Register</button>
        </form>
</div>
<footer style="min-height: 70px" class="p-3 bg-dark text-white"></footer>
</body>
</html>