<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.user.page}">User page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div style="display: flex; justify-content: space-between">
            <a href="/" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none">
                <p th:text="#{header.service.name}" style="margin: 0; font-size: 24px; color: #ffc107"></p>
            </a>

            <div style="display: flex" class="text-end">
                <a href="/logout" th:text="#{header.logout.value}" class="btn btn-warning me-4">Log out</a>
                <form style="display: flex" method="get" th:action="${#httpServletRequest.requestURI}" id="lang-switcher">
                    <button type="submit" class="btn btn-warning me-2" name="locale" value="ua">
                        UA
                    </button>
                    <button type="submit" class="btn btn-warning" name="locale" value="en">
                        ENG
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="content-holder">
    <div class="side">
        <div class="container">
            <div class="side-content">
                <p th:text="${user.getName() + ' ' + user.getSurname()}" style="font-size: 20px; font-weight: bold; margin-bottom: 0"></p>
                <a th:href="@{/logout}" th:text="#{change.account.value}"></a>
                <hr>
                <a th:href="@{/}" th:text="#{personal.account.value}"></a>
                <a th:href="@{/}" th:text="#{order.taxi.value}"></a>
                <a th:href="@{/}" th:text="#{view.orders.value}"></a>
            </div>
        </div>
    </div>
    <div style="width: available" class="content">
        <div class="container">
            <div class="content-container">
                <p th:inline="text">[[#{welcome.value}]], <span th:text="${user.getName() + ' ' + user.getSurname()}" style="font-weight: bold"></span></p>
                <p th:inline="text" style="margin-bottom: 0">[[#{balance.value}]]: <span style="font-weight: bold">0</span></p>
                <a th:href="@{/}" th:text="#{recharge.balance.value}" style="font-size: 20px"></a>
                <a th:href="@{/}" th:text="#{order.taxi.value}"></a>
            </div>
        </div>
    </div>
</div>
<footer style="min-height: 70px" class="p-3 bg-dark text-white"></footer>
</body>
</html>