<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div style="display: flex; justify-content: space-between">
            <a href="/" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none">
                <p th:text="#{header.service.name}" style="margin: 0; font-size: 24px; color: #ffc107"></p>
            </a>

            <div style="display: flex" class="text-end">
                <a href="/login" th:text="#{header.login.value}" class="btn btn-warning me-2">Login</a>
                <a href="/registration" th:text="#{header.signUp.value}" class="btn btn-warning me-4">Sign-up</a>
                <form style="display: flex" method="get" action="/registration" id="lang-switcher">
                    <button type="submit" class="btn btn-warning me-2" name="locale" value="ua">
                        UA
                    </button>
                    <button type="submit" class="btn btn-warning" name="locale" value="en">
                        ENG
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="content">
        <form method="post" th:object="${user}" action="/registration" class="dataForm">
            <label th:text="#{name.prompt.value}" style="margin-top: 10%" for="name">Enter name</label>
            <input th:field="*{name}" class="form-element" type="text" id="name" required>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-element"></p>
            <label th:text="#{surname.prompt.value}" class="form-element" for="surname">Enter surname</label>
            <input th:field="*{surname}" class="form-element" type="text" id="surname" required>
            <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="form-element"></p>
            <label th:text="#{username.prompt.value}" class="form-element" for="username">Enter nickname</label>
            <input th:field="*{username}" class="form-element" type="text" id="username" required>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="form-element"></p>
            <label th:text="#{phone.prompt.value}" class="form-element" for="phone">Enter phone</label>
            <input th:field="*{phone}" class="form-element" type="text" id="phone" required>
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="form-element"></p>
            <label th:text="#{password.prompt.value}" class="form-element" for="password">Enter password</label>
            <input th:field="*{password}" class="form-element" type="text" id="password" required>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-element"></p>
            <button th:text="#{register.value}" style="margin-bottom: 10%" type="submit" class="btn btn-success">Register</button>
        </form>
</div>
<footer style="min-height: 70px" class="p-3 bg-dark text-white"></footer>
</body>
</html>